<component name="libraryTable">
  <library name="springmvc-springioc-lib">
    <CLASSES>
      <root url="file://D:/CS/WebLibs/springmvc-springioc-lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://D:/CS/WebLibs/springmvc-springioc-lib" recursive="false" />
  </library>
</component>